
<div></div>


 <!-- Conditionally render different background images based on category-->

{{#if (isdefined category.id 1)}}
<div style="background-image:url('https://source.unsplash.com/1600x1600/?concerts'); padding-bottom: 20px;">
<div class="btn-group">
  {{#each category.categoryLists as |list|}}
  <button type="button" class="category_link" ><a href="/category/{{list.id}}">{{list.name}}</a></button>
  {{/each}}
</div>
{{/if}}
{{#if (isdefined category.id 2)}}
<div  style="background-image:url('https://source.unsplash.com/1600x1600/?drinks') ; padding-bottom: 20px;">
  {{#each category.categoryLists as |list|}}
  <button type="button" class="category_link" ><a href="/category/{{list.id}}">{{list.name}}</a></button>
  {{/each}}
{{/if}}
{{#if (isdefined category.id 3)}}
<div style="background-image:url('https://source.unsplash.com/1600x1600/?sports') ; padding-bottom: 20px;">
  {{#each category.categoryLists as |list|}}
  <button type="button" class="category_link" ><a href="/category/{{list.id}}">{{list.name}}</a></button>
  {{/each}}
{{/if}}
{{#if (isdefined category.id 4)}}
<div style="background-image:url('https://source.unsplash.com/1600x1600/?career') ; padding-bottom: 20px;">
  {{#each category.categoryLists as |list|}}
  <button type="button" class="category_link" ><a href="/category/{{list.id}}">{{list.name}}</a></button>
  {{/each}}
{{/if}}
<div class="category_page" >
    <aside>
        <header style="font-size: 1.75rem, text-align: center; color: grey; font-weigth: 500;">Plan your event now</header>
        <div class="calendar-category" id="calendar"></div>
  </aside>
  <section class="container">
    <h3 class="gallery-name">{{category.category_name}}</h3>
    <section class="flex-row justify-center">
 <!-- Loop over each object in the events array based on category -->
      {{#each category.events as |event|}}
      {{> event-details}}
      {{/each}}
    </section>  
  </section>
  </div>
</div>
<script src="/js/scriptcategory.js"></script>